<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://unsplash.it/500/400');">
  <div class="card-category"><%= restaurant.stars %> stars</div>
  <div class="card-description">
    <h2><%= restaurant.name %></h2>
    <p><%= restaurant.category %></p>
    <p><%= restaurant.address %></p>
    <p><%= restaurant.phone_number%></p>
    <p><%= restaurant.description %></p>
    <p><%= restaurant.stars %></p>
  </div>
</div>
